body {
  background-color: #eee;
}

header {
  background-color: #4c2676;
  color: white;
  font-weight: 600;
}

.image {
  width: 100%;
  margin-bottom: 0.75rem;
}

#title {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#photo-url {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#notes {
  width: 100%;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.button-justify {
  display: flex;
  justify-content: right;
}

.delete-justify {
  display: flex;
  flex-basis: 100%;
  justify-content: left;
}

.footer-buttons {
  display: flex;
}

#delete-entry {
  border-style: hidden;
  text-decoration: underline;
  color: #f81212;
}

.save {
  background-color: #4c2474;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  align-self: center;
  margin: 0 1rem;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
}

.new-entry-button {
  background-color: #4c2474;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 5px;
}

.entry-header {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}

#no-entries {
  text-align: center;
}

.entry-title {
  display: flex;
  justify-content: space-between;
}

.icon {
  align-self: center;
}

.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-message {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 1rem;
  text-align: center;
}

.modal-buttons {
  display: flex;
  flex-basis: 100%;
  margin: 0.25rem;
  justify-content: space-between;
}

#confirm-delete {
  background-color: #dc2626;
  color: white;
  padding: 0.5rem;
  text-transform: uppercase;
  border-style: hidden;
  border-radius: 0.5rem;
  font-weight: 600;
}

#cancel-button {
  background-color: #b6b6b6;
  padding: 0.5rem;
  text-transform: uppercase;
  border-style: hidden;
  border-radius: 0.5rem;
  font-weight: 600;
}
